$global-font-size: 16px;
$title-font-size: 1.875rem;
$content-title-font-size: 1.5rem;
$nav-font-size: 1rem;
$primary-color: #424242;
$background-color: #fefefe;

@mixin flexify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  font-size: $global-font-size;
}

body {
  //font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: "Overpass Mono",monospace;
  //font-family: Overpass,"Overpass Mono",monospace;
  //font-family: Roboto, Helvetica, Arial, sans-serif;
  color: $primary-color;
  background: $background-color;
}

a {
  text-decoration: none;
}

nav {
  font-size: $nav-font-size;
  text-align: center;
  ul {
    display: block;
    padding: 0;
    //margin: 0.5rem;
    li {
      display: inline;
      list-style-type: none;
      a {
        display: inline-block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: #444;
      }
    }
    li:not(:last-child) {
      padding: 0 1rem;
    }
  }
}

.layout {
  .title-wrapper {
    @include flexify;
  }
  .title {
    color: $primary-color;
    text-align: left;
    display: block;
    font-size: $title-font-size;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  //padding: 2.625rem 1.3125rem;
  padding: 2.625rem 1.3125rem;
}

.content {
  .title {
    color: $primary-color;
    font-size: $content-title-font-size;
  }
}

.blog-list {
  .list-item {
    @include flexify;
    margin-bottom: 0.5rem; 
  }
}

@media only screen and (max-width: 600px) {
  .layout {
    .title-wrapper {
      @include flex-column;
    }
    .title {
      margin: 0;
    }
  }

  .title-wrapper {
    margin-bottom: 0.5rem;
  }

  .blog-list {
    .list-item {
      justify-content: unset;
      flex-direction: column-reverse;
      align-items: baseline;

      border: 1px solid $primary-color;      
    }
    .date-label {
      margin-right: 1rem;
    }
  }
}
