 <div class="til-list">
    {{ $content := .Content }}

    <!-- Extract the first <p> tag (Intro) -->
    {{ $intro := index (findRE `<p>([^<]*)</p>` .Content 1) 0 }}
    {{ $intro | safeHTML }}

    {{ if (findRE `<div class="til-intro">` .Content 1) }}
        {{ $intro := index (findRE `<div class="til-intro">.*?</div>` .Content 1) 0 }}
        {{ $intro | safeHTML }}
    {{ end }}
 
    {{ $sections := split $content "<h2" }}
    {{ range $index, $section := after 1 $sections }}
        {{ $headerContent := index (findRE "id=\"([^\"]+)\">([^<]+)" $section) 0 }} <!-- Extract id and title from h3 tag -->
        {{ $title := index (findRE ">([^<]+)" $headerContent) 0 | replaceRE ">" "" | strings.TrimSpace }} <!-- Extract title from h3 tag -->
        {{ $postContent := replaceRE "id=\"[^\"]+\">[^<]+</h3>" "" $section }} <!-- Remove h3 tag -->
        <details>
            <summary class="post-title" >{{ $title }}</summary>
            {{ $postContent | safeHTML }}
        </details>

    {{ end }}
</div>
